.purple{
    background-color: #7653d6;
    color: white;
}

.pastelOrange{
    background-color: #f8ca71;
}
.lightPurple{
    background-color:#cfc2ec;
}

.lightPaleorange{
    background-color:#f2e5c898 ;
}
.lightOrange{
    background-color: #f7f5f3;
}